@model List<de1.Models.BaoDuong>

<table border="1">
    <tr>
        <th>Ngày giờ nhận</th>
        <th>Ngày giờ trả</th>
        <th>Số km</th>
        <th>Nội dung</th>
        <th>Chức năng</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NGAYNGIONHAN</td>
            <td>@item.NGAYGIOTRA</td>
            <td>@item.SOKM</td>
            <td>@item.NOIDUNG</td>
            <td>
                <a href="ChiTiet?MaBD=@item.MABD">Xem</a>
                <a href="Sua?MaBD=@item.MABD">Sửa</a>
            </td>
        </tr>
    }
</table>