@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào cờ cờ</h1>
    <p>Learn about <a href="https://www.facebook.com/watch/?v=428285202765257">building Web apps with ASP.NET Core</a>.</p>
</div>
