<form action="/Xe/ThemXe" method="post">
    <h1>Thêm công việc</h1>
    Mã công việc: <input type="text" name="MaCV"/><br/>
    Tên công việc: <input type="text" name="TenCV"/><br/>
    Đơn giá: <input type="text" name="DonGia"/><br/>
    <input type="submit" name="submit" value="Thêm"/>
</form>